# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Conda environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings folder
.vscode/

# Logs and temp files
*.log
*.tmp

# Python test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.pytest_cache/

# Spyder project settings
.spyderproject
.spyproject

# IPython
profile_default/
ipython_config.py

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# PyInstaller
*.manifest
*.spec

# Pyre type checker
.pyre/

# Pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

